
<form asp-action="Upload" asp-controller="Student" method="post" enctype="multipart/form-data">
<div class="form-group">
    <label name-for="file">Excel xlsx Upload</label>
    <input type="file" name="file" />
</div>
<input type="submit" value="Show Data" class="btn btn-primary" />
</form>